---
- name: OS unsupported
  fail: msg=" This roles is currently unsupported with your OS/Linux Distro"
  when: openvpn_role_supported is undefined

- name: test if instance name provided, unless use default
  set_fact:
    openvpn_instance: "{{ openvpn_instance_default|default('__openvpn_instance_default') }}"
  when: openvpn_instance is not defined

- name: merge openvpn_instance with default
  set_fact:
    __my_openvpn_instance: "{{ __openvpn_instance_default|combine( openvpn_instance,recursive=True) }}"

- name: feature still not implemented
  fail: msg="ldap authentication still not implemented"
  when: __my_openvpn_instance.openvpn_use_ldap

- name: check PAM authentication not for OpenBSD
  fail: msg=" openvpn_use_pam yes , NOT for OpenBSD!"
  when:
    - ansible_os_family == "OpenBSD"
    - __my_openvpn_instance.openvpn_use_pam

- name: check if at least one authentication is enabled
  debug: msg="NO authentication option enabled..." 
  when: 
    - not __my_openvpn_instance.openvpn_use_pam
    - not __my_openvpn_instance.openvpn_use_ldap
    - not __my_openvpn_instance.openvpn_use_certs
    - not __my_openvpn_instance.openvpn_use_simple_auth
    - not __my_openvpn_instance.openvpn_use_virtualauth
  register: result

- name: fail as no authentication option enabled 
  fail: msg="NO authentication option enabled..."
  when: not result|skipped

- name: check simple auth must have a password
  fail: msg="simple authentication need a password"
  when:
    - __my_openvpn_instance.openvpn_use_simple_auth
    - not __my_openvpn_instance.openvpn_use_simple_auth_password

- name: Install (FreeBSD)
  include: install.FreeBSD.yml
  when: ansible_os_family == "FreeBSD"

- name: Install (OpenBSD)
  include: install.OpenBSD.yml
  when: ansible_os_family == "OpenBSD"

- name: Configure Openvpn
  include: configure.openvpn.yml
