#!/bin/sh

ENCRYPTED_PWD={{ __my_openvpn_instance.openvpn_use_simple_auth_password }}

CRYPT_BIN="/sbin/sha256"
if [ -f /usr/bin/sha256sum ]; then
 CRYPT_BIN="/usr/bin/sha256sum"
fi

ENCRYPTED_PROPOSED_PWD=`echo $password| $CRYPT_BIN | awk '{ print $1}' `

if [ "$ENCRYPTED_PROPOSED_PWD" == "$ENCRYPTED_PWD" ]; then
  RET=0
else
  RET=1
fi

exit $RET
